*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, sans-serif;
}

:root{
    --background-color:#000000;
    --bg-button-color:#1a1a1a;
    --primary-text-color:#f4f4f4;
    --bg-task-color:#272525;
    --delete-color:#ff4d4d;

    --nav-padding :15px 30px;
    --section-padding:15px 30px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xxl:30px;

    --border-radius-m:10px;
    --border-radius-s:5px;
}
body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

main{
    height:100%;
    display:flex;
    flex-direction:column;
}

nav{
    padding:var(--nav-padding);
    display:flex;
    justify-content:space-between;
}

nav button{
    background-color:var(--bg-button-color);
    color:var(--primary-text-color);
    border:none;
    padding:var(--padding-m) var(--padding-l);
    border-radius:var(--border-radius-m);
    cursor:pointer;
}

section{
    padding:var(--section-padding);
    display:flex;
    flex-grow:1;
    gap:var(--padding-xxl);
}

.task-column{
    background-color:var(--bg-button-color);
    flex:1;
    border-radius:var(--border-radius-m);
    padding:var(--padding-m);
    display:flex;
    flex-direction:column;
    gap:var(--padding-m);
}

.hover-over{
    border:2px dashed var(--primary-text-color);
    scale:1.05;
}

.task{
    background-color:var(--bg-task-color);
    padding:var(--padding-m);
    border-radius:var(--border-radius-m);
    display:flex;
    flex-direction:column;
    gap:10px;
}

.task-buttons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.task .delete{
    background-color:var(--delete-color);
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:var(--border-radius-s);
    cursor:pointer;
}

.task .edit{
    background-color:#4caf50;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:var(--border-radius-s);
    cursor:pointer;
}

.modal{
    position:fixed;
    display:none;
    justify-content:center;
    align-items:center;
    top:0; left:0;
    width:100%;
    height:100%;
}

.modal.active{
    display:flex;
}

.modal .bg{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter:blur(5px);
}

.modal .center{
    background-color:var(--bg-button-color);
    padding:var(--padding-xxl);
    border-radius:var(--border-radius-m);
    display:flex;
    flex-direction:column;
    gap:var(--padding-m);
    z-index:10;
}

.modal input,
.modal textarea{
    background-color:var(--bg-task-color);
    color:white;
    border:none;
    padding:var(--padding-m);
    border-radius:var(--border-radius-s);
}

.modal button{
    background-color:var(--bg-task-color);
    color:white;
    padding:var(--padding-m);
    border-radius:var(--border-radius-m);
    border:none;
    cursor:pointer;
}
